@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  /* width not affected by padding or border */
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #686de0;
  display: flex;
  flex-direction: column;
  /* Centered horizontally */
  align-items: center;
  /* Centered vertically on 100% viewport */
  justify-content: center;
  /* 100% viewport height  */
  height: 100vh;
  /* don't want scrollbars  */
  overflow: hidden;
  /* no margins  */
  margin: 0;
  /* 20px all around */
  padding: 20px;
}

.container {
  background-color: #fff;
  /* rounded corners */
  border-radius: 10px;
  /* offset-x | offset-y | blur-radius | color  x2 */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
  /* 50px top/bottom, 20px sides */
  padding: 50px 20px;
  /* horizontal center text (inline elements) */
  text-align: center;
  /* not to exceed width of <body> */
  max-width: 100%;
  width: 800px;
}

h3 {
  /* no margin */
  margin: 0;
  /* semi-transparent */
  opacity: 0.5;
  /* 2px between letters */
  letter-spacing: 2px;
}

.joke {
  font-size: 30px;
  /* 1px between letters */
  letter-spacing: 1px;
  /* 40px tall lines */
  line-height: 40px;
  /* 50px top/bottom, center horizontally */
  margin: 50px auto;
  max-width: 600px;
}

.btn {
  background-color: #9f68e0;
  color: #fff;
  /* no border */
  border: 0;
  /* rounded corners */
  border-radius: 10px;
  /* offset-x | offset-y | blur-radius | color  x2 */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
    /* 14px top/bottom, 40px sides */
  padding: 14px 40px;
  font-size: 16px;
    /* pointer when over */
  cursor: pointer;
}

.btn:active {
    /* reduce size by 2% */
    transform: scale(0.98);
}

.btn:focus {
    /* removes border */
    outline: 0;
    /* still need to give some indication of focus for accessibility */
    /* instead reduce opacity */          
    opacity: 0.8;
}